.popup {
    position: relative;

    &__overlay {
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    &__header {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__content {
        display: none;
        width: 450px;
        @include xs(width, 90%);
        z-index: 1001;
        position: fixed;
        top: 100px;
        @include xs(top, 50px);
        left: calc(50% - 225px);
        @include xs(left, 5%);
        padding: 50px;
        @include xs(padding, 40px);
        box-sizing: border-box;
        background: url(../img/picture/orderbg.jpg) no-repeat center center/cover;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);

        .form {
            &__reply {
                width: 100%;
                box-sizing: border-box;
                padding: 15px 5px;
                margin-bottom: 2px;
                color: $greenMedium;
                text-align: center;
            }

            input {
                border: none;
                outline: none;
                border-bottom: 1px solid #2C3821; 
                background-color: transparent;
                font-size: 12px;
        
                &:focus {
                    outline: 2px solid $greenLight;
                    box-shadow: 0px 0px 10px rgba(175, 190, 161, 0.5);
                }
            }
        
            input[type="text"],
            input[type="tel"],
            input[type="email"] {
                border-radius: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 15px 5px;
                margin-bottom: 2px;
        
                & + label {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    padding: 0;
                    border: 0;
                    clip: rect(0,0,0,0);
                    clip-path: inset(100%);
                    overflow: hidden;
                }
            }
        
        
            input[type="checkbox"] {
                opacity: 0;
            }
        
            &__check {
                margin-top: 30px;
                @include xs(margin-top, 20px);
                position: relative;
            }
        
            input[type="submit"] {
                background: $greenLight;
                border: none;
                color: $black;
                font-size: 14px;
                transition-duration: .6s;
                transition-timing-function: ease-out;
        
                &:hover {
                    cursor: pointer;
                    background-color: $greenDark;
                    box-shadow: 0px 0px 10px rgba(175, 190, 161, 0.5);
                    color: $white;
                }
            }
        
            input[type="submit"]:disabled {
                background: #BCBDBA;
                border: none;
                color: rgba(0, 0, 0, 0.4);
                font-size: 14px;
            }
        
            textarea {
                margin-top: 40px;
                width: 100%;
                box-sizing: border-box;
                padding: 20px;
                height: 142px;
                box-sizing: border-box;
                border: 1px solid #2C3821;
                border-radius: 10px;
                background-color: transparent;
        
                & + label {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    margin: -1px;
                    padding: 0;
                    border: 0;
                    clip: rect(0,0,0,0);
                    clip-path: inset(100%);
                    overflow: hidden;
                }
        
                &:focus {
                    outline: 2px solid $greenLight;
                    box-shadow: 0px 0px 10px rgba(175, 190, 161, 0.5);
                }
            }
        
            div {
                position: relative;
            }

            &__check {
                position: relative;
            }

            &__check--top {
                margin-top: 20px;
            }

            &__submit--top {
                margin-top: 50px;
                @include xs(margin-top, 65px);
                margin-bottom: 20px;
            }
        
            &__submit--width {
                width: 200px;
                height: 50px;
                border-radius: 31px;
            }
        
            &__btn {
                text-align: center;
            }

            label[for="accept-popup"] {
                position: absolute;
                top: 0;
                left: 30px;
                cursor: pointer;
                @include xs(font-size, 12px);
        
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: -30px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #000000;
                    border-radius: 50%;
                }
            }
        
            input[type="checkbox"]:checked + label[for="accept-popup"]::before {
                background-color: $greenMedium;
            }
        }
    }
}