section.about
    ._wrap
        ._inner
            ._description
                h2._header.-top(id="about") About me
                p._text Hello! <br> My name is Anna, and I’m a junior front-end developer. I graduated Bauman Moscow State Technical University in 2015. I worked in the field of network technologies, but decided to change my professional activities. Now I'm studying html, css, javascript. Welcome on my website portfolio.
                ._picture-mobile
                    ._img-mobile
                    img._letterC-mobile(src="img/picture/C.png", alt="my photo")
                h2._header.-top What I use
                ul.tools.-top
                    li._item Layout of static sites / semantic / adaptive
                    li._item Layout on CMS (WordPress, PrestaShop) 
                    li._item Using the Grid Bootstrap / SmartGrid
                    li._item Use of preprocessors LESS, SASS
                    li._item JavaScript, using jQuery
                    li._item BEM technology
                    li._item HTML5 / CSS3
                    li._item Build in Gulp
                    li._item AJAX / JSON
                .tools__img.-top.-right
                    img(src="img/svg/html.svg", alt="html icon")
                    img(src="img/svg/css.svg", alt="css icon")
                    img(src="img/svg/javascript.svg", alt="javascript icon")
                    img(src="img/svg/sass.svg", alt="sass icon")
                    img(src="img/svg/prestashop.svg", alt="prestashop icon")
                    img(src="img/svg/wordpress.svg", alt="wordpress icon")
            ._picture
            img._letterC(src="img/picture/C.png", alt="my photo")