section.banner
    ._wrap
        ._inner
            ._left
                h1._title.-top Anna&nbsp;Chernova
                p._description.-top Front-end&nbsp;&#8260;&nbsp;Web developer
                button.button.-color.-size.-top Order&nbsp;a&nbsp;project
            ._right
            img._letterA(src='img/svg/A.svg' alt="letter A")
    ._back