footer.footer
    .__wrap
        .__inner
            +logo()
            +info()
                p._phone.-top
                    span + 7 925 158-75-83
                p._email.-top
                    span ashubina0810@mail.ru